body{
  background-color: #6BB7FF;
}
.land{
  fill: #E8D471;
  fill-opacity: 1;
  stroke:#000000;
  stroke-opacity: 1;
  stroke-width:0.5;
}
svg{
  width: 100%;
}

.map{
  width:50%;
  margin:10px auto;
  a{
    path{
      fill: #ff7fac;
    }
    &:hover{
      path{
        fill:#7AFF7F;  
      }
    }
  }
  .tooltip{
      pointer-events: none;
      position: absolute;
      font-size: 12px;
      text-align: center;
      background: #1A2C3D;
      padding: 10px;
      z-index: 5;
      margin: 0 auto;
      color: #ffffff;
      box-shadow: 0 0 0 1px #eee;
      transform:translateX(-50%);
      display: none;

      &.active{
        display: block;
      }
      &:after{
        content: '';
        position: absolute;
        left: 50%;
        top: 100%;
        width: 0;
        height: 0;
        margin-left: -10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid white;
      }
    
  }


}
